@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url(/css/variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: #84aee9;
}

nav {
  color: var(--text-color-secondary);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: var(--font-family-secondary);
    font-size: var(--font-h1);
    font-weight: 600;

    span {
      color: var(--color-tertiary);
      font-weight: 800;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: #ffffff;
        scale: 1.1;
      }
    }
  }

  .box-icons {
    display: flex;
    justify-content: right;
    align-items: center;

    .bars {
      visibility: hidden;
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.header-container {
  color: var(--text-color-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2rem;

    span {
      font-size: var(--font-h2);
      font-weight: bold;
      margin: 1rem 0;
      display: block;
    }
  }
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .button-mobile,
  .button-desktop {
    display: flex;
    margin: 1rem 0;
    button {
      background-color: var(--color-tertiary);
      color: #fff;
      padding: 0.6rem 1.2rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;

      &:hover {
        background-color: #0f3d7e;
      }
    }
  }

  .button-mobile {
    display: none;
  }
}

main h1 {
  font-size: var(--font-h1);
  font-family: var(--font-family-secondary);
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;

  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;

      &:hover {
        transform: rotate(1deg);
      }
    }

    h2 {
      font-size: var(--font-h2);
      font-weight: bold;
      margin: 1rem 0;
    }

    p {
      font-size: var(--font-p);
      margin: 1rem 0;
    }
  }
}

.app-button {
  background-color: var(--color-tertiary);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #0f3d7e;
  }
}

footer {
  background-color: var(--color-secondary);
  color: var(--text-color-secondary);
  padding: 1.2rem;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .footer-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: flex; */
  }
}

.footer-email {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 49%;

  .email-section {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;

    h2 {
      font-size: var(--font-h3);
    }

    img {
      width: 20px;
      height: 20px;
      margin: 0 0.5rem;
    }
  }

  input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  button {
    margin-left: 1rem;
  }

  .footer-section {
    h2 {
      font-family: var(--font-family-secondary);
    }
  }
}

.social-media {
  img {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Responsividade */

@media (max-width: 800px) {
  nav {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: space-between;

    h1 {
      font-size: 1.4rem;
    }

    .menu {
      display: none;
    }

    .box-icons {
      .icons {
        width: 1.6rem;
      }
      .bars {
        visibility: visible;
        display: block;
      }
    }
  }

  .header-container {
    grid-template-columns: 1fr;
    max-width: 100%;

    .text-section {
      text-align: center;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0;

      .button-section span {
        font-size: 1.2rem;
      }
    }

    .button-desktop {
      display: none;
    }

    .button-mobile {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }

  .container-cards {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  footer {
    text-align: center;

    .footer-email {
      grid-template-columns: 1fr;

      .email-section {
        display: grid;
        align-items: center;
      }

      img {
        display: none;
      }

      h3 {
        font-size: 1rem;
      }

      input {
        width: 100%;
      }

      button {
        margin: 1rem 0;
        width: 100%;
      }
    }

    .footer-container {
      grid-template-columns: 1fr;

      .footer-section {
        margin: 1rem 0;
      }
    }
  }
}
