@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #24416b;
  --color-secondary: #719fe0;
  --color-tertiary: #185bb9;

  --background-color: #f8fafc;
  --text-color: #101419;
  --text-color-secondary: #f8fafc;

  --font-family: "Poppins", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;

  --font-h1: 2rem;
  --font-h2: 1.5rem;
  --font-h3: 1.25rem;
  --font-p: 1rem;
}
